/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alice', sans-serif;
    background-color: #6e1217;
   
}

.container{
    width: 100vw;
    height: 100vh;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section:nth-child(1){ /*referente à primeira página*/
    background: #6e1217;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 40px;
}

section:nth-child(2){ /*referente à segunda página*/
    background: #6e1217;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 40px;
}

section:nth-child(3){ /*referente à terceira página*/
    background: #6e1217;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 40px;
}

section:nth-child(4){ /*referente à terceira página*/
    background: #6e1217;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 40px;
}

/* Estilos para a barra de navegação (nav) */
.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6e1217;
    padding: 10px;
    z-index: 1000; 
}

/* Estilos para os ícones de redes sociais */
.social-icons img {
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

/* Estilos para a logo */
.logo img {
    max-width: 200px; 
    display: block;
    margin-left: 310px; 
}


/* Faixa vermelha do refri*/
.meu-retangulo {
    margin-left: 470px;
    margin-right: 50px;
    width: 400px; 
    height: 800px; 
    border-radius: 150px; 
    border: 5px solid #6e1217; 
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o menu de navegação */
.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 50px;
}


/* Estilos para a linha pontilhada */
.divider {
    position: fixed;
    top: 180px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}

.dashed-line {
    border-top: 5px dashed #eddec3;
    flex: 1;
}

.dashed-line-text {
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-top: 5px dashed #eddec3;
    flex: 1;
}

.space {
    width: 300px; 
}

/* rodape da pagina*/
.footer{
    text-align: center;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 55px;
}

@media screen and (min-width: 1920px) {
    /* Ajuste o tamanho dos ícones de redes sociais */
    .social-icons img {
        width: 100px;
        height: 100px;
    }

    /* Ajuste o tamanho da logo */
    .logo img {
        max-width: 200px;
    }

    /* Ajuste do espaçamento do menu */
    .menu li {
        margin-right: 30px;
    }
}
