/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alice', sans-serif;
    background-color: #545e46;
   
}

.container{
    width: 100vw;
    height: 100vh;
}

.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.corpo:nth-child(1){
    background: #545e46;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 45px;
}

.corpo:nth-child(2){
    background: #545e46;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 45px;
}

.corpo:nth-child(3){
    background: #545e46;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 45px;
}

.corpo:nth-child(4){
    background: #545e46;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 45px;
}

.corpo:nth-child(5){
    background: #545e46;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 45px;
}


/* Estilos para a barra de navegação (nav) */
.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #545e46;
    padding: 10px;
    z-index: 1000; 
}

/* Estilos para os ícones de redes sociais */
.social-icons img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

/* Estilos para a logo */
.logo img {
    max-width: 200px; 
    display: block;
    margin-left: 310px; 
}

.button{
    background: transparent;
    border: transparent;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 45px;
}

/* botão dos tipos de produtos */
.botao {
    justify-content: center;
    align-items: center;
    display: flex;
}

.botao-dois {
    justify-content: center;
    align-items: center;
    display: flex;
}
  
.circulo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #eddec3;
    background-color: #eddec3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.circulo-dois {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #6e1217;
    background-color: #6e1217;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.issoai{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
  
.circulo p {
    margin: 0;
    font-size: 20px;
}

/* Faixa vermelha do refri*/
.meu-retangulo {
    margin-top: 100px;
    margin-left: 470px;
    margin-right: 50px;
    width: 400px; 
    height: 750px; 
    border-radius: 150px; 
    border: 5px solid #6e1217; 
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o menu de navegação */
.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 50px;
}


/* Estilos para a linha pontilhada */
.divider {
    position: fixed;
    top: 190px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}

.dashed-line {
    border-top: 5px dashed #eddec3;
    flex: 1;
}

.dashed-line-text {
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-top: 5px dashed #eddec3;
    flex: 1;
}

.space {
    width: 300px; 
}

.footer{
    text-align: center;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 55px;
}

@media screen and (min-width: 1920px) {
    /* Ajuste o tamanho dos ícones de redes sociais */
    .social-icons img {
        width: 120px;
        height: 120px;
    }

    /* Ajuste o tamanho da logo */
    .logo img {
        max-width: 200px;
    }

    /* Ajuste do espaçamento do menu */
    .menu li {
        margin-right: 30px;
    }
}
