/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alice', sans-serif;
    background-color: #545e46;
   
}

.container{
    width: 100vw;
    height: 100vh;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section:nth-child(1){ /*referente à primeira página*/
    background: #545e46;
    text-align: center;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 65px;
}

/* Estilos para a barra de navegação (nav) */
.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #545e46;
    padding: 10px;
    z-index: 1000; 
}

/* Estilos para os ícones de redes sociais */
.social-icons img {
    width: 25px;
    height: 25px;
    margin-left: 50px;
}

/* Estilos para a logo */
.logo img {
    max-width: 200px; 
    display: block;
    margin-left: 310px; 
}

/* Estilos para o menu de navegação */
.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 50px;
}


/* Estilos para a linha pontilhada */
.divider {
    position: fixed;
    top: 180px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}

.dashed-line {
    border-top: 5px dashed #eddec3;
    flex: 1;
}

.dashed-line-text {
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-top: 5px dashed #eddec3;
    flex: 1;
}

.space {
    width: 300px; 
}

.footer{
    text-align: center;
    text-decoration: none;
    color: #eddec3;
    font-family: 'Alice', sans-serif;
    font-size: 55px;
}

/* formulario */
form {
    max-width: 900px;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    padding: 50px;
    width: 600px;
    border-radius: 30px;
    border: 1px solid #eddec3;
    background-color: #eddec3;
    resize: none;
    max-height: 150px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #eddec3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}






@media screen and (min-width: 1920px) {
    /* Ajuste o tamanho dos ícones de redes sociais */
    .social-icons img {
        width: 100px;
        height: 100px;
    }

    /* Ajuste o tamanho da logo */
    .logo img {
        max-width: 200px;
    }

    /* Ajuste do espaçamento do menu */
    .menu li {
        margin-right: 30px;
    }
}
